.historico {
    background: rgba(254, 226, 179, 1.0);
    background-image: url('./../../../img/bg-wood.png');
    background-position: center center;
    background-repeat: repeat-x repeat-y;
    
}