.home {
    background: rgba(254, 226, 179, 1.0);
    background-image: url('./../../../img/bg-login.jpg');
    background-position: center center;
    background-repeat: repeat-x repeat-y;
    h1{
      font-size: 1.4 rem;
      color: #DC5172;
    }
    h2{
      font-size: 1 rem;
      color: #DC5172;
    } 
    .col1{
        border: solid 1px #000;
    }
    .col2{
        
        
        background: rgba(255, 255, 255, 0.4);
        padding: 2em;
        margin: 3em;

        button{
            width:90%;
        }
    }
}
